.nav {
    grid-area: nav;
    background-color: darkgrey;
    padding: 20px;
    max-height: 130px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}